:root {
  --text-principal: #ffffff;
  --background-primary: #000000;
  --background-secondary: #333333;
  --color-highlight: #5d4037;
  --color-highlight-sec: #046307;
  --buts-a: #d4af37;
}

.navbar a {
  position: relative;
}

.navbar .no-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--buts-a),
    var(--color-highlight-sec)
  );
  z-index: 5;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

.navbar .no-active:hover::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.no-active:hover {
  color: var(--buts-a);
}

.active:hover {
  color: var(--color-highlight-sec);
}

.btn {
  /* background: var(--color-highlight-sec); */
  z-index: 1;
}

.btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-image: linear-gradient(315deg, var(--buts-a) 0%, #f6fc9c 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
  7px7px20px0pxrgba(0,0,0,.1),4px4px5px0pxrgba(0,0,0,.1): ;
  transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn:hover::after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn:active {
  top: 2px;
}

.btn:hover {
  box-shadow: 2px 2px 8px var(--color-highlight-sec);
  color: #000000;
  font-size: 17px;
}
